html {
    font-size: calc(60% + 0.8vmin);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden-x;
    position: relative;
}

.background-video {
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


#timer-options {
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0;
    display: flex;
    justify-content: center;
}

.timer-option-button {
    opacity: 0.5;
    border-radius: 50%;
    min-height: 8rem;
    min-width: 8rem;
    margin: 0 3rem;
    background-color: transparent;
    color: blue;
    border-color: blue;
}

#countdown {
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    height: 20rem;
    width: 20rem;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

#countdown h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}